*.o
*.cmd
*.a
*.depend
*.map
*.bin
*.lds
*.srec
*.config*
*.d
*.tmp*
*.version
Module.symvers
Image
piggy.gz
vmlinux
uImage
zImage
asm-offsets.s
consolemap_deftbl.c
defkeymap.c
clut_vga16.c
logo_*
autoconf.h
bounds.h
compile.h
utsrelease.h
version.h
bounds.s
timeconst.h
crc32table.h
gen_crc32table
docproc
fixdep
hash
conmakehash
kallsyms
conf
lex.zconf.c
mconf
zconf.hash.c
zconf.tab.c
elfconfig.h
mk_elfconfig
modpost
pnmtologo
vmlinux
u-boot
